<section class="flex items-center justify-center flex-col h-screen">
  <div class=" rounded my-2 text-lg border-2 hover:bg-gray-100">
      <a href="/login/email" class="flex items-center px-6 py-3" >
        <span class="material-icons">
          email
          </span>
          <h3 class="ml-4">Login with Email</h3>
      </a>
    </div>   
    <div class="rounded my-2 text-lg border-2 hover:bg-gray-100">
      <a href="/google" class="flex items-center px-6 py-3" >
         <img width="25px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="">
          <h3 class="ml-4">Login with Google</h3>
      </a>
    </div>
    <div class="rounded my-2 text-lg border-2 hover:bg-gray-100">
      <a href="/login/phone" class="flex items-center px-6 py-3" >
        <span class="material-icons">
          smartphone
          </span>
          <h3 class="ml-4">Login with Phone</h3>
      </a>
    </div>

</section>